* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("imagens/fundo.png");
  width: 900px;
}

ul li {
  display: inline;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
}

a {
  color: #2f58a5;
  text-decoration: none;
}

h2 {
  margin: 10px;
  color: #b4b48f;
}

p {
  margin: 10px;
}

.menu {
  padding: 15px;
  background-color: #b4b48f;
  align-items: start;
}

.conteudo {
  background-color: white;
  padding-top: 1px;
}

.direitos {
  text-align: center;
}

.conteudo-foto {
  margin-left: 10px;
  border-width: 15px;
  border-style: solid;
  border-color: #b4b48f;
}
